body {
    font-family: 'Oswald', sans-serif;
}

header {
    z-index: 1;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 34px;
}

#me {
    background: url('../img/alfonso.jpg') no-repeat center;
    background-size: cover;
    filter: grayscale(.9);
}

.nombre {
    bottom: 25px;
    left: 0;
    right: 0;
}

.nombre>h2,
.nombre>h1 {
    font-size: 72px;
}

.full-h {
    min-height: 100vh;
}

.line-h-normal {
    line-height: normal;
}


/*Mobile*/

@media screen and (max-width: 576px) {
    #menu {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        padding: 15px;
        width: 250px;
        transition: left ease-in .3s;
        -webkit-transition: left ease-in .3s;
        -moz-transition: left ease-in .3s;
    }
    #menu.menu-show {
        left: 0;
        transition: left ease-in-out .3s;
        -webkit-transition: left ease-in-out .3s;
        -moz-transition: left ease-in-out .3s;
    }
}

@media screen and (max-width: 767px) {
    .nombre {
        width: 95% !important;
    }
}